<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/CSS/acceuil.css">   
    <title>Kingdomino en ligne !</title>
  </head>
  <body>
    <div id="acceuil">
      <!-- <h1 id="title">Bienvenue !</h1> -->
      <img id="Kingdomino" src="../static/Kingdomino.jpg" alt="Kingdomino">
      <p><input type="button" value="Ajouter un salon" id="poke" /><a href="kdregles.html" target="_blank" style="text-decoration:none"><input type="button" value="Lire les regles" id="regles"/></a></p>
      <div id="listeSalons">      
        {% for salon in salons %}
          <div class="salon">
              <p>
                Salon numéro {{salon.num}}, place {{salon.place}}/4 <input id="rejoindre" type="button" value="Rejoindre" onclick="redirect({{salon.num}});">
              </p>
          </div>
        {% endfor %}
      </div>
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="../controleurs/variables.js"></script>
      <script>

        var socket = io.connect('http://137.74.115.167:8080/');
                socket.on('message', function(message) {
                   tab = message;
                   console.log(tab);
                })

        // inerval de refresh de la liste des serveurs
        var interval = 500;

        function redirect(num){
          document.location.href= window.location.href+"jeu/"+num;
        }
                $('#poke').click(function () {
                    socket.emit('message', 'On veut un nouveau salon !');
                    $( "#listeSalons" ).load(window.location.href + " #listeSalons" );
                    console.log('Et hop un nouveau salon');
                    
                })

        window.onload = function () {
          needRefresh1();
        };

        function needRefresh1() {
          console.log('Refresh de la liste des salons');
          $( "#listeSalons" ).load(window.location.href + " #listeSalons" );
          setTimeout("needRefresh2()", interval);
        }

        function needRefresh2() {
          console.log('Refresh de la liste des salons');
          $( "#listeSalons" ).load(window.location.href + " #listeSalons" );
          setTimeout("needRefresh1()", interval);
        }
              
      </script>
    </div>
  </body>
</html>
