<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width,height=device-height, initial-scale=1">
    <title>KingDomino en ligne !</title>
    <link rel="stylesheet" href="../static/CSS/jeu.css">
    <script src="../controleurs/jquery-3.4.1.js"></script>
    <script src="../controleurs/casePlateau.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="sup">
        <div class="plateau">

        </div>
      </div>
      <div class="sup" id="placeDommino">

      </div>
      <div class="plateauEnn"></div>
    </div>
  </body>
</html>
