<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width,height=device-height, initial-scale=1">
    <title>KingDomino en ligne !</title>
    <link rel="stylesheet" href="../static/CSS/jeu.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
    var socket = io.connect('localhost:8080');
    </script>
    <script src="../controleurs/jquery-3.4.1.js"></script>
    <script src="../controleurs/p5.js"></script>
    <script src="../controleurs/variables.js"></script>
    <script src="../controleurs/detection.js"></script>
    <script src="../controleurs/coordonee.js"></script>
    <script src="../controleurs/affichage.js"></script>
    <script src="../controleurs/ecoute.js"></script>
    <script src="../controleurs/init.js"></script>
    <script type="text/javascript">


    window.onbeforeunload = function () {
      let tmp= window.location.href.split("/");
      socket.emit('deconnexion',tmp[tmp.length-1]);
      redirect();
      return '';
    };

    if (window.performance) {
      console.info("window.performance works fine on this browser");
    }
    if (performance.navigation.type === 1) {
      console.info( "This page is reloaded" );
      redirect();
    } else {
      console.info( "This page is not reloaded");
    }

    function redirect(){
      document.location.href= "http://localhost:8080/";
    }

         
    </script>
  </head>
  <body>
    <div id="feedback" class="feedback">
    </div>
  </body>
</html>
