<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width,height=device-height, initial-scale=1">
    <title>KingDomino en ligne !</title>
    <link rel="stylesheet" href="../static/CSS/jeu.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('localhost:8080');
    </script>
    <script src="../controleurs/jquery-3.4.1.js"></script>
    <script src="../controleurs/variables.js"></script>
    <script src="../controleurs/affichage.js"></script>
    <script src="../controleurs/casePlateau.js"></script>
    <script src="../controleurs/ecoute.js"></script>
    <script src="../controleurs/init.js"></script>
  </head>
  <body>
    <input type="button" value="anti-horaire" onclick="rotation('ah')">
    <input type="button" value="horaire" onclick="rotation('h')">
    <input type="button" value="valider placement" onclick="trowId()">
    <div class="plateau plateauJoueur" id="adv1"></div>
    <div class=col id="domCol1"></div>
    <div class=col id="domCol2"></div>
    <div class="plateau plateauAdversaire" id="adv2"></div>
    <div class="plateau plateauAdversaire adv3" id="adv3"></div>
    <div class="plateau plateauAdversaire adv4" id="adv4"></div>
    <div class="feedback" id="feedback"></div>
    <input type="button" class="defausse" id="domino0" onclick="finDePartie()" value="fin de partie">
  </body>
    <!-- commentaire test -->
</html>
