<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="../controleur/jquery-3.4.1.js"></script>
    <script src="../controleur/casePlateau.js"></script>
  </head>
  <body>

  </body>
</html>
