body{
  /* background-color: black; */
  padding: 0px;
  margin: 0px;

  /*background-color: #3f522c /*#3d2c1c*/;
  background-image: url(../texture.jpg);
}

#rejoindre{
	font-family: sans-serif;
	border-color:black;
	border-radius:5px;
	margin-left:15px;
	color:white;
	background-color:rgba(0,0,0,0.6);
	padding:5px;
}

#poke{
	font-family: sans-serif;
	border-color:black;
	border-radius:5px;
	margin-left:15px;
	color:white;
	background-color:rgba(0,0,0,0.6);
	padding:5px;
}

#acceuil{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-content:center;
	text-align:center;
}

#Kingdomino{
	width:500px;
	height:200px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left: auto;
  	margin-right: auto;
	border:solid 2px;
	border-radius:5px;
	border-color:black;
}

.salon{
	font-family: sans-serif;
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align:center;
	width:350px;
	height:50px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left: auto;
  	margin-right: auto;
	background-color:rgba(231,216,203,0.5);
	border:solid 2px;
	border-radius:5px;
	border-color:#c66c1c;
}

#title{
	color:white;
	font-family: sans-serif;
}

/*li{
  background-color:#e7d8cb;
  display: block;
}*/
