body{
  /* background-color: black; */
  padding: 0px;
  margin: 0px;

  /*background-color: #3f522c /*#3d2c1c*/;
  background-image: url(../texture.jpg);
}

#acceuil{
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align:center;
}

#salon{
}

#title{
	color:white;
	font-family: sans-serif;
}

/*li{
  background-color:#e7d8cb;
  display: block;
}*/
