body{
  /* background-color: black; */
  padding: 0px;
  margin: 0px;
}

.case{
  width:20%;
  height:20%;
  position: absolute;
  background-color: #0039e6;
}

.domino{

}

.page{
  /* background-color: white;
  width: 95%;
  height: 90%;
  top: 2%;
  left: 2%;
  display: inline;
  position: absolute;
  padding:0px; */
}

.plateau{
  position: absolute;
  background-color: blue;
  top : 5%;
  left: 20%;
  width: 200px;
  height:200px;
}

/* .plateauEnn{
  background-color: red;
  display: block;
  height: 30%;
  width: 100%;
}

.sup{
  background-color: green;
  display: block;
  height: 70%;
  width: 50%;
}

#placeDommino{
  position: absolute;
  background-color: purple;
  left: 50%;
  width: 50%;
  top: 0%;

} */
